.dialog {

    max-width: 600px;

    &__wrapper {
        margin: 12px 0 20px;
    }

    &__upload {
        padding: 4px 8px;
        border: 1px solid #1976d2;
        color: #1976d2;
        border-radius: 4px;

        &:hover {
            background-color: #1976d2;
            color: #fff;
            cursor: pointer;
        }
    }

    &__image {
        width: 100%;
        max-height: 400px;
        margin-top: 20px;
        object-fit: contain;
        border-radius: 4px;
    }

    &__btn {
        display: flex;
        justify-content: end;
    }
}